# Ignore Visual Studio files
.vs/

# Ignore build output
out/

# Ignore compiled binaries and object files
*.o
*.obj
*.exe
*.dll
*.lib
*.so
*.a


# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore editor-specific files
*.vscode/

